
body{
    background-color: #FDF7ED;
    font-family: 'Open Sans';

}

form{
    width: 500px;
    min-height: 500px;
    margin: 0px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > div > label{
    width: 80px;
    display: inline-block;
}


