
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



body{

    background-color:#A36A4F ;
    font-family: 'Open Sans', 'sans serif';
    font-size: 100%;
    margin: 0;


}

header{
    display: flex;
    flex-direction: row;
    background-color: #FDF7ED;
    justify-content: center;
}

form{

    width: 500px;
    min-height: 500px;
    margin: 0px 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
        
}

a:hover{
    color: black;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.menu-cabecalho{
    font-family: Indie Flower, 'sans serif';
    display: flex;
    gap: 32px;
    justify-content: flex-end;
}

.cabecalho-item{
    color: #A36A4F;
    font-size: x-large;
}

.rodape{
    padding: 32px;
    border-top: 0.4px solid black;
    background-color: #FDF7ED;
    display: flex;
    flex-direction: row;

}

.rodape-menu{
    display: flex;
    gap: 38px;
    justify-content: flex-end;

}

.rodape-item{
    font-family: Indie Flower, 'sans serif';
    color: #A36A4F;
    font-size: x-large;
}

.container{
    border-top: 0.4px solid black;
    display: flex;
    align-items: center;
    margin-bottom: 80px;

}

.botao{
    background-color: #FDF7ED;
    font-family: 'Open Sans', 'Sans Serif';
    color: black;
    width: 80px;
    height: 40px;
    border: none;
    box-shadow: 4px 5px 4px black;
    border-radius: 20px;
}

.botao:hover{
    color: black;
}

.headerimg{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
   
  }

 .carrosel{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 500px;
    width: 500px;
 }

 .container2{
    display:flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
 }

 img{
    object-fit: cover;
    height: 500px;
    width: 500px;
 }

 
form{
    width: 500px;
    min-height: 500px;
    margin: 0px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FDF7ED;

}

input{
    border-radius: 5px;
}



form > div > label{
    width: 80px;
    display: inline-block;
}
